<div>Authorised</div>
<p>Each of the following links should lead to a valid page</p>
<ul>
    <li><a href="@{RestrictSample.singleRoleName_authorised}">Single role name</a></li>
    <li><a href="@{RestrictSample.twoRoleNames_authorised}">Two role names</a></li>
</ul>

<br/>
<br/>

<div>Unauthorised</div>
<p>Each of the following links should lead to a forbidden page</p>
<ul>
    <li><a href="@{RestrictSample.singleRoleName_unauthorised}">Single role name</a></li>
    <li><a href="@{RestrictSample.twoRoleNames_unauthorised}">Two role names</a></li>
</ul>