<p>Nothing in this page or controller is restricted.</p>

<ul>
    <li><a href="@{RestrictSample.index()}">Restrict samples</a></li>
    <li><a href="@{RestrictionsSample.index()}">Restrictions samples</a></li>
    <li><a href="@{NegationSample.index()}">Negation samples</a></li>
    <li><a href="@{ExternalRestrictionSample.index()}">External restriction samples</a></li>
    <li><a href="@{TagRestrictions.index()}">Tag restriction samples</a></li>
    <li><a href="@{RestrictedResourceMethodsSample.index()}">Restricted resource method samples</a></li>
    <li><a href="@{AllowedRestrictedResourceClassSample.index()}">Restricted resource class sample - allow</a></li>
    <li><a href="@{DenyRestrictedResourceClassSample.index()}">Restricted resource class sample - deny</a></li>
    <li><a href="@{RestrictedResourceTagRestrictions.index()}">Restricted resource tag samples</a></li>
</ul>